APP_PASSWORD=zmien-to-haslo
APP_SESSION_SECRET=zmien-to-dlugi-losowy-sekret
APP_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://asprofiler-frontend.s3-website.eu-central-1.amazonaws.com
