.btn {
  border-radius: 6px;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 12px;
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.primary {
  background: var(--red);
  color: var(--white);
  border: 1px solid var(--white);
}

.primary:hover:not(:disabled) {
  background: red;
  color: white;
  border: 1px solid white;
}

.outline {
  background: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}

.outline:hover:not(:disabled) {
  background: white;
  border: 1px solid red;
  color: red;
}

.secondary {
  border-radius: 8px;
  padding: 6px 8px;
  background: transparent;
  border: 1px solid var(--white);
  color: var(--white);
}

.secondary:hover:not(:disabled) {
  background: black;
  border: 1px solid white;
  color: white;
}
