.primary {
  background: var(--red);
  color: var(--white);
  border: 1px solid var(--white);
}

.primary:hover:not(:disabled) {
  background: red;
  color: white;
  border: 1px solid white;
}

.primaryOutline {
  background: var(--white);
  border: 1px solid var(--red);
  color: var(--red);
}

.primaryOutline:hover:not(:disabled) {
  background: white;
  border: 1px solid red;
  color: red;
}

.ghost {
  background: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  color: inherit;
  font-weight: normal;
}

.button {
  border-radius: 6px;
  font: inherit;
  font-weight: 600;
  cursor: pointer;
  padding: 8px 12px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
