.navTab {
  padding: 8px 12px;
  border-radius: 6px;
  background: var(--black);
  border: 1px solid var(--white);
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
}

.navTab:hover {
  background: var(--black);
  border: 1px solid white;
  color: white;
}

.navTabActive {
  background: var(--white);
  border: 1px solid var(--black);
  color: var(--black);
}

.navTabActive:hover {
  background: white;
  border: 1px solid black;
  color: black;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  display: flex;
  align-items: center;
  background: var(--black);
  color: var(--white);
}

.bar {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: padding-right 0.2s ease;
}

.barShiftedWithAnalysisSidebar {
  padding-right: 50vw;
}

.navTabs {
  display: flex;
  gap: 12px;
  margin-right: auto;
}
